.feedback {
    height: 700px;
    background-color: #ebebeb;
    width: 100%;
}

.feedback__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    padding: 120px 0 0 0;
}

.feedback__title {
    font-size: 42px;
    line-height: 1.23;
}

.feedback__items {
    padding-top: 20px;
}

.feedback__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.feedback__text {
    font-size: 22px;
    line-height: 1.55;
    font-weight: 300;
}

.feedback__name {
    font-size: 16px;
    line-height: 1.35;
    font-weight: 600;
}

.feedback__photo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.feedback__photo_1 {
    background-image: url("../../img/otziv-1.jpg");

}

.feedback__buttons-container {
    position: relative;
}

.feedback__button-container {
    position: absolute;
    height: 278px;
    cursor: pointer;
    z-index: 4;
    box-sizing: content-box;
    bottom: 0;
    width: 15%;
    -webkit-transition: opacity ease-in-out 0.3s, height ease-in-out .3s;
    -moz-transition: opacity ease-in-out 0.3s, height ease-in-out .3s;
    -o-transition: opacity ease-in-out 0.3s, height ease-in-out .3s;
    transition: opacity ease-in-out 0.3s, height ease-in-out .3s;
}

.feedback__button-container_left {
    left: 0;
}

.feedback__button-container_right {
    right: 0;
}

.feedback__mini-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.feedback__mini-container_left {
    left: 30px;
}

.feedback__mini-container_right {
    right: 30px;
}

.feedback__button {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: transparent;
    box-sizing: content-box;
    cursor: pointer;
}

.feedback__button_left {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: #ff5c33;

}

.feedback__button_right {
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: #ff5c33;

}

.feedback__dots {
    display: flex;
    justify-content: center;
}

.feedback__dot {
    cursor: pointer;
    margin: 0 5px;
    width: 4px;
    height: 4px;
    background-color: #ff5c33;
    border-radius: 10px;
    opacity: .4;
}

.feedback__dot_active {
    opacity: 1;

}