.map {
    margin-top: 100px;
    width: 100%;
}

.map__inner {
    width: 100%;
}

.map__title {
    width: 100%;
    text-align: center;
    font-size: 42px;
    line-height: 1.23;

}

.map__link {
    text-decoration: none;
    color: #ff8562;
}
.map__link:hover {
    border-bottom: 3px solid #ff8562;
}