.how__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.how__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.23;
}

.how__image {
    margin-top: 80px;
}