.how {
    width: 100%;
}
.how__inner {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.how__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.23;
}

.how__container {
    font-size: 19px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.how__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.how__img {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    margin-top: 80px;
}

.how__img.how__img_long {
    width: 70px;
    height: 60px;

}
.how__text {
    max-width: 200px;
    text-align: center;
}